.btn {
  &,
  &.btn:link,
  &.btn:visited {
    text-decoration: none;
    margin-top: 22px;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all 0.2s;
    cursor: pointer;
  }
}

.btn:hover {
  transform: translate(-3px);
  box-shadow: 0 10px 20px rgba($color-black, 0.2);
}
.btn:active {
  transform: translate(-1px);
  box-shadow: 0 10px 20px rgba($color-black, 0.2);
}

.btn--white {
  background-color: $color-white;
  color: $color-grey-dark;
}

.btn--green {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: $color-white;
  &::after {
    background-color: $color-primary;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2sec;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
